**/target/
**/*.class
**/*.jar
manuscript/*.aux
manuscript/*.log
manuscript/*.out
manuscript/*.blg
manuscript/*.spl
manuscript/*.bbl
manuscript/*.toc
manuscript/*.synctex.gz
manuscript/*.fdb_latexmk
manuscript/*.fls
source-code/data/official/*.txt
source-code/data/public/SN_d_tot_V2.0.csv
.DS_Store
Thumbs.db
.idea/
.vscode/

manuscript/figures/official_heap.png
manuscript/figures/official_heap.pdf
